body {
    font-family: Roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    padding-top: 50px
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 800px;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    
}

button:hover {
    background-color: rgb(228, 228, 228);
}

.scores {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-evenly;
}

.choice {
    height: 100px;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.replay {
    width: 100px
}