body {
    font-family: Roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 800px;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    
}

button:hover {
    background-color: rgb(228, 228, 228);
}